* {
    box-sizing: border-box;
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* for phones */
@media only screen and (max-width: 500px) {
    nav{
        position: sticky !important;
        width: 100% !important;
    }
    nav ul li a{
        font-size: 30px !important;
        padding: 5px !important;
    }
    nav ul{
        margin-left: -50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav div{
        display: none;
    }
    .first{
        font-size: 30px !important;
        margin: -10% 0 0 0 !important;
    }
    .first p:nth-child(2){
        padding-left: 5%;
    }
    #bg{height: 200px !important;width: 100% !important;}
    .profile{
        height: 250px !important;
        margin-top: 20px !important;
        margin-left: 12% !important;
        padding-left: 10% !important;
        width: 70% !important;
        float: none !important;
    }
    .aboutcontent, #skills{
        margin: 0px !important; 
        width: 95% !important;
    }
    .aboutcontent h2{
        float: none !important;
        font-size: 32px !important;
        margin: 300px 10px 20px 10px !important;
        text-align: center !important;
    }
    #skills h2{
        margin: 430px 10px 50px 10px !important;
        font-size: 32px !important;
        text-align: center !important;    
    }
    .card{
        width: 95% !important;
    }
    .card h2{
        font-size: 20px !important;
        margin: 50px 0px !important;
        text-align: center !important;    
    }
    #projects h2{
        text-align: center !important;
        font-size: 32px !important;
        margin-left: 10px !important;
        margin-bottom: 30px !important;
    }
    #skills img{
        margin-left: 10px !important;
        width: 100% !important;
    }
    .aboutcontent div{
        float: none !important;
        font-size: 20px !important;
        margin-top: 10px !important;  
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    #quote{
        font-size: 25px !important;
        text-align: center !important;
        margin-bottom: 20px !important;
    }
    .col50,.col25,.col30{width: 100% !important;float: none !important;}
}

body{
    background: black;
}

nav{
    background-color: rgb(35, 35, 35);
    z-index: 1;
    overflow: hidden;
    position: sticky;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 50%;
}

nav ul li{
    margin: 5px 5px 10px 5px;
}

nav ul li a{
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    color: darkgrey;
    font-size: 35px;
    font-family: 'Acme';
    transition: all 0.5s ease;
}

nav ul li a:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

nav ul li a:active{
    background-color: black;
    color: white;
}

nav div{
    font-family: 'Pattaya';
    color: rgb(255, 0, 0);
    position: relative;
    margin-top: -35px;
    top: 50px;
    font-size: 45px;
    left: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.first{
    padding-bottom: 40px;
    padding-top: 40px;
    color: white;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    font-family: 'Wendy One';
    animation-name: show;
    font-size: 60px;
    position: absolute;
    top: 20%;
    left: 5%;
    animation-duration: 1s;
    animation-timing-function: ease;
    text-align: center;
}

@keyframes show{
    from{left: -100%;}
    to{left: 5%;top: 20%;}
}

.profile{
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 65%;
    background-color: crimson;
    height: 500px;
    width: 400px;
    padding-left: 2%;
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    transition: width 2s, height 2s, transform 2s;
}
.profile:hover {
    width: 500px;
    height: 600px;
    transform: rotate(10deg);
  }

.aboutcontent{
    color: white;
    margin: 20px 20px 20px 50px;
    width: 60%;
    float: left;
    position: absolute;
    font-size: 25px;
    text-align: justify;
}
.aboutcontent h2,#skills h2,#projects h2{
    margin: 50px 0 30px 50px;
    text-align: left;
    color: crimson;
    font-family: 'Shojumaru';    
    font-size: 40px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#skills h2,#projects h2{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 70px;
}

#quote{
    font-family: 'Wendy One';
    font-size: 42px;
}
#aboutlines{
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-name: aboutanimation;
    font-family: 'Acme';    
}
@keyframes aboutanimation{
    from{left: -100%;}
    to{left: 20px;}    
}

#skills{
    color: white;
    margin: 30px;
    font-size: 25px;
    text-align: right;
}
#skills img{
    margin: 10px;
    cursor: pointer;
    border-radius: 10%;
}

.col30{width: 30%; float: left;}
.col25{width: 25%; float: left;}
.col50{width: 45%; float: left;}

.card{
    box-shadow: 0 4px 8px 0 white;
    text-align: justify;
    background-color: rgb(35, 35, 35);
    width: 30%;
    margin: 20px;
    padding: 10px;
}
.card h2{
    font-size: 25px !important;
    margin: 20px !important;
    text-align: center !important;
}
.card p{
    color: white;
    font-size: 20px;
    font-family: 'Acme';
    letter-spacing: 0.8px;
    padding: 20px;
}
#pro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}