* {
    box-sizing: border-box;
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}
/* for tabs */ 
@media only screen and (max-width: 850px) {
}

/* for phones */
@media only screen and (max-width: 500px) {
    .topnav{
        justify-content: center;
    }
}

body{
    background: black;
}

#mytopnav{
    background-color: rgb(35, 35, 35);
    overflow: hidden;
    position: sticky;
    top: 0;
}

.topnav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topnav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: darkgrey;
    font-size: 25px;
    font-family: 'Acme';
}

.topnav a:hover {
    background-color: rgb(65, 65, 65);
    color: white;
}

.topnav a:active {
    background-color: black;
    color: white;
}

