* {
    box-sizing: border-box;
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* for tabs */ 
@media only screen and (max-width: 850px) {    
}

/* for phones */
@media only screen and (max-width: 500px) {
    nav{
        position: sticky !important;
    }
    nav ul{
        margin-left: -60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav div{
        display: none;
    }
    .first{
        font-size: 20px;
        padding-left: 18%;
    }
    .first p:nth-child(2){
        padding-left: 70%;
    }
    .profile{
        display: none;
    }
    .phoneProfile{
        display: block !important;
        padding-left: 30%;
        width: 100%;
    }

}

body{
    background: black;
}

nav{
    background-color: rgb(35, 35, 35);
    z-index: 1;
    overflow: hidden;
    position: sticky;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 60%;
}

nav ul li{
    margin: 5px;
}

nav ul li a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: darkgrey;
    font-size: 25px;
    font-family: 'Acme';
    transition: all 0.5s ease;
}

nav ul li a:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

nav ul li a:active{
    background-color: black;
    color: white;
}

nav div{
    font-family: 'Akronim';
    color: rgb(255, 0, 0);
    position: relative;
    margin-top: -32px;
    top: 40px;
    font-size: 30px;
    left: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.first{
    width: 100%;
    background-color: rgb(255, 0, 0);
    padding-bottom: 40px;
    padding-top: 40px;
    color: white;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    font-family: 'Wendy One';
    animation-name: show;
    font-size: 40px;
    position: relative;
    animation-duration: 2s;
    animation-timing-function: ease;
    text-align: center;
    padding-right: 60%;
}

@keyframes show{
    from{left: -100%;}
    to{left: 0;}
}

.profile{
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 70%;
    cursor: pointer;
    animation-name: pic;
    animation-duration: 2s;
    animation-timing-function: ease;
    transition: width 1s, height 1s, transform 1s;
}

@keyframes pic{
    from{left: -100%;}
    to{left: 70%;top: 10%;}
}

.profile:hover{
    width: 200px;
    height: 300px;
    transform: rotate(360deg);
}

.phoneProfile{
    display: none;
    border-radius: 50%;
    background-color: crimson;
}